/*Общие селекторы*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 60%;
    background-color: #000;
    z-index: 0;
}

.no-letter-spacing {
    letter-spacing: 0;
}

/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: normal;
    background-color: #FFF;
}

.header__links-list {
    display: flex;
    gap: 12px;
}

.header__links-list-item {
    list-style: inside circle;
}

.header__links-list-item-unmarked {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__link-decoration-none {
    text-decoration: none;
}

.header__logo {
    width: 135px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.address {
    display: flex;
    flex-direction: column;
    line-height: 135%;
}

.header__address {
    max-width: 240px;
    justify-self: end;
}

.address a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.address p {
    text-decoration: none;
}

/*main*/

/*Секция "Сover"*/
.cover {
    position: relative;
    background-image: url('../images/cover.jpg');
    min-height: 757px;
    padding: 165px 50px 50px 50px;
    z-index: -1;
}

.cover_title {
    position: relative;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: bold;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30%;
    color: #FFF;
    margin-bottom: 106px;
    z-index: 1;
}

.aligned-text {
    display: block;
}

.aligned-text-left {
    text-align: left;
    margin-bottom: 20px;
}

.aligned-text-center {
    text-align: center;
    margin-bottom: 20px;
}

.aligned-text-right {
    text-align: right;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-weight: normal;
    line-height: 127%;
    word-spacing: 0.85em;
    color: #FFF;
    z-index: 1;
}

.bet-button {
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 22px;
    font-weight: normal;
    line-height: 115%;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 12px 32px 11px 31px;
    z-index: 1;
}

/*Секция "Лоты"*/
.lots {
}

/*Секция "О нас"*/
.about {
}

.about__logo-image {
}

/*Footer*/
.footer {
}

.footer__address {
}

.footer__links-list {
}

.footer__links-list-item {
}

.footer__link {
}

.socials__links-list {
}
