/*Общие селекторы*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: #000;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.address {
  display: flex;
  flex-direction: column;
  font-family: Raleway, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  letter-spacing: 0;
  text-underline-offset: 3px;
}

/*header*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 0;
  letter-spacing: 0;
  background-color: #fff;
}

.header__links-list {
  display: flex;
  gap: 11px;
}

.header__links-list-item {
  list-style: inside circle;
}

.header__links-list-item-unmarked {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link-decoration-none {
  text-decoration: none;
}

.header__logo {
  width: 135px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address a {
  text-decoration: underline;
}

.address p {
  text-decoration: none;
}

/*main*/

/*Секция "Сover"*/
.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.cover_title {
  position: relative;
  z-index: 1;
  margin-bottom: 106px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text-left {
  margin-bottom: 20px;
  text-align: left;
}

.aligned-text-center {
  margin-bottom: 20px;
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 0.85em;
}

.bet-button {
  z-index: 1;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 115%;
  text-transform: uppercase;
  background-color: transparent;
}

/*Секция "Лоты"*/
.lots {
  margin: 0px 24px 120px 24px;
}

.lots__heading {
  margin: 0px 0px 27px 40px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  z-index: 1;
  padding: 48px 40px 0px 40px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  padding: 0px 40px 48px 40px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  padding-left: 40px;
  color: #000;
  font-family: Raleway, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/*Секция "О нас"*/
.about {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: start;
  column-gap: 72px;
  margin: 0px 24px 180px 24px;
}

.about__logo {
  display: flex;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 0px 0px 47px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  padding-top: 136px;
  padding-bottom: 100px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  grid-row: 2/3;
  gap: 24px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

/*Footer*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 180px;
  padding: 0px 50px 0px 50px;
}

.footer__menu {
  justify-self: center;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  min-height: 48px;
  font-family: Raleway, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.footer__links-list-item {
  list-style: none;
}

.footer__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__link-decoration-none {
  text-decoration: none;
}

.social__links {
  justify-self: end;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  width: 100%;
  height: 100%;
}

.footer_social-icon {
  width: 100%;
  height: 100%;
}
